/*会议室安排表*/
.schedule-div {padding-top: 1.8rem; background: #fff;}
.schedule-date{background: #fff;font-size: .3rem;overflow: hidden;position: relative;}
.schedule-date:after{content: "";position: absolute;width: 100%;height: 1px;background: #ddd;bottom: 0;left: 0;}
.schedule-date-left{position: relative; padding: .2rem .2rem;width:70%;float: left;}
.schedule-date-right .title{ color: #000;font-weight: 600; }
.schedule-date-right{width:30%;float: right;text-align: right;padding-right: .2rem;}
.schedule-date-left p{/*padding: .25rem 0;*/ text-align: center;font-weight: 600;margin-bottom:0;font-size:.3rem;color:#000;}
.schedule-date-left p .date{font-size:.3rem;color:#000;}
.schedule-date-left p .week{font-size:.3rem;color:#000;}
.schedule-date-left>span{display: block;height: 100%;line-height: .8rem;padding: 0 .1rem;}
.schedule-date-left>span.left{position: absolute;top: .05rem;left:0; }
.schedule-date-left>span.right{position: absolute;top: .05rem;right:-.35rem; /*transform:rotate(180deg);*/}
.schedule-date-right>p{padding: .4rem 0;float: right;color: #1078fa;margin-bottom:0;}
.schedule-tab{overflow: hidden;background: #fff;font-size: .3rem;}
.schedule-tab li{float: left;width: 14.2857143%;text-align: center;padding: .25rem 0;position: relative;}
.schedule-tab li.active{color: #1078fa;}
.schedule-tab li.active:after{content: "";position: absolute;width: 100%;height: 2px;background:#1078fa;bottom: 0;left: 0;right: 0;margin:0 auto;}
.schedule-top{position: absolute;top: 0;left: 0;width: 100%;z-index: 2;border-bottom: #ddd solid 1px;line-height: .4rem;}
.schedule-ul{padding: 1rem .3rem;}
.schedule-ul>li{background: #fff;padding: .2rem; border-radius: .1rem;margin-top: .2rem;font-size: .28rem;    box-shadow: 0 1px 2px rgba(0,0,0,.3);display:flex; line-height: .4rem}
.schedule-ul>li.no{box-shadow:none; text-align: center;}
.schedule-ul>li .name{font-weight: 600;padding-right: .2rem;color:#000;width:1.8rem; line-height: 2.4rem;}
.schedule-ul>li .meeting{flex:1; line-height: .6rem;}
.schedule-ul>li .content{flex:1;font-size: .28rem}
.schedule-ul>li>p{white-space: normal !important;line-height: .6rem;font-size: .28rem}
.schedule-ul .bottom{color: #888;margin-bottom: .15rem;}
.schedule-ul>li:last-child{margin-bottom: .2rem;}
.selectDate-div{position:absolute;left:0;top:0;right:0;bottom:0;margin:auto;height:7.5rem;background:#fff;padding:0.2rem;z-index:102;width:6rem;box-shadow: 5px 5px 5px #999;-webkit-box-shadow: 5px 5px 5px #999;border-radius: 4px;display: none;}
.cover-div{position: fixed;z-index: 100;top: 0;right: 0;bottom: 0; left: 0;background-color: rgba(0,0,0,.3);display: none;}
.selectDate-div .header{text-align: center;font-weight: 600;font-size: .32rem;padding: .1rem 0;position: relative;}
.selectDate-div .header>span{display: block;height: 100%;line-height: .82rem;padding: 0 .2rem;font-size: .34rem;}
.selectDate-div .header>span.left{position: absolute;top: 0;left:0rem; }
.selectDate-div .header>span.right{position: absolute;top: 0;right:0rem; transform:rotate(180deg);}
.selectDate-div li{width:.8rem;height:.8rem;float: left;text-align: center;line-height:.8rem ;font-weight: bold;border-radius: 50%;}
.selectDate-div li.selected{color: #fff;background: #1078fa;}
.selectDate-div li.a_week{color: #1078fa;}
.schedule-btn{background: #000;width: 1rem;height: 1rem;line-height: 1rem;border-radius: 50%;text-align: center;opacity: 0.1;color: #fff;font-size: .5rem;}
.schedule-btn.right{position: absolute;top: 0;right:.2rem;bottom: 0;margin: auto 0; transform:rotate(180deg);z-index: 999;}
.schedule-btn.left{position: absolute;top: 0;left:.2rem;bottom: 0;margin: auto 0;z-index: 999;}
.schedule-date-right .benzhou{font-size:.35rem;}