<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1,user-scalable=no">
		<meta content="email=no" name="format-detection" />
		<title>基本信息</title>
	</head>
	<body>
		<div id="jbxx" class="bldview">			
            <div :style="'height:'+getDetailHeight()" style="overflow-y: auto; overflow-x: hidden;padding-bottom:3rem; background: #F1F1F3;">
                <div  class="title">合同信息</div>   
                <template>           
                    <!-- <div  class="date">报销时间: {{formData.draftDate}}</div> -->
                    <van-form validate-first >	
                          <dl > 
                            <!-- <dt><van-field label="处室名称" value="" disabled size="large" /></dt> -->
                            <dd><van-field
                                v-model="formData.contractOrgName"					
                                input-align="right"
                                label="主办处室"
                                rows="1"
                                autosize
                                size="large"
                                type="textarea"
                                readonly
                                >
                            </van-field></dd>
                            <dd><van-field
                                v-model="formData.passUserName"					
                                input-align="right"
                                label="经办人"
                                rows="1"
                                autosize
                                size="large"
                                type="textarea"
                                readonly
                                >
                            </van-field></dd>
                            <dd><van-field
                                v-model="formData.docSequence"					
                                input-align="right"
                                label="合同编号"
                                rows="1"
                                autosize
                                size="large"
                                type="textarea"
                                readonly
                                >
                            </van-field></dd>
                              <dd><van-field
                                  v-model="formData.draftDate"					
                                  input-align="right"
                                  label="登记日期"
                                  rows="1"
                                  autosize
                                  size="large"
                                  type="textarea"
                                  readonly
                                  >
                              </van-field></dd>
                            <dd><van-field
                                v-model="formData.projectName"					
                                input-align="right"
                                label="项目名称"
                                rows="1"
                                autosize
                                size="large"
                                type="textarea"
                                readonly
                                >
                            </van-field></dd>
                            </dl>
                            <dl>
                                <dt>
                                    <van-field label="关联文件" value="" disabled size="large" />
                                    <van-button :disabled="detailPage.proPermission.flowStatus=='running' ? false : true" slot="button" size="small" color="#5462E7" @click="OpenWebView('relative.html');">关联文件</van-button>
                                </dt>  
                                <template  v-for="(reldoc, reldocIndex) in relDocList">    
                                <dd><van-field
                                    v-model="reldoc.subject"					
                                    input-align="right"
                                    label="标题"
                                    rows="1"
                                    autosize
                                    size="large"
                                    type="textarea"
                                    readonly
                                    >
                                </van-field></dd>
                                </template>
                            </dl>
                          
                            <dd><van-field
                                v-model="formData.contractType"					
                                input-align="right"
                                label="合同类型"
                                rows="1"
                                autosize
                                size="large"
                                type="textarea"
                                readonly
                                >
                            </van-field></dd>
                            <dd><van-field
                                v-model="formData.contractName"					
                                input-align="right"
                                label="合同名称"
                                rows="1"
                                autosize
                                size="large"
                                type="textarea"
                                readonly
                                >
                            </van-field></dd>
                            <dd><van-field
                                v-model="formData.oppositeUnit"					
                                input-align="right"
                                label="对方单位"
                                rows="1"
                                autosize
                                size="large"
                                type="textarea"
                                readonly
                                >
                            </van-field></dd>
                            <dd><van-field
                                v-model="formData.contractMoney"					
                                input-align="right"
                                label="合同金额"
                                rows="1"
                                autosize
                                size="large"
                                type="textarea"
                                readonly
                                >
                                </van-field>
                                <i slot="suffix" style="font-style:normal;margin-right: 16px;line-height: 2.4rem;">元</i>
                            </dd>
                            <dd><van-field
                                v-model="formData.payMethod"					
                                input-align="right"
                                label="付款方式"
                                rows="1"
                                autosize
                                size="large"
                                type="textarea"
                                readonly
                                >
                            </van-field></dd>
                            <dd><van-field
                                v-model="formData.contractLimitTime"					
                                input-align="right"
                                label="合同期限开始"
                                rows="1"
                                autosize
                                size="large"
                                type="textarea"
                                readonly
                                >
                            </van-field></dd>
                            <dd><van-field
                                v-model="formData.contractLimitEndTime"					
                                input-align="right"
                                label="合同期限结束"
                                rows="1"
                                autosize
                                size="large"
                                type="textarea"
                                readonly
                                >
                            </van-field></dd>
                            <dd><van-field
                                v-model="formData.performanceBond"					
                                input-align="right"
                                label="履约保证金"
                                rows="1"
                                autosize
                                size="large"
                                type="textarea"
                                readonly
                                >
                                </van-field>
                                <i slot="suffix" style="font-style:normal;margin-right: 16px;line-height: 2.4rem;">元</i>
                            </dd>
                            <dd><van-field
                                v-model="formData.returnCondition"					
                                input-align="right"
                                label="归还条件"
                                rows="1"
                                autosize
                                size="large"
                                type="textarea"
                                readonly
                                >
                            </van-field></dd>
                        </dl>	
                       
                     <!-- 合同说明-->
                <div v-show="formData.contractType === '自拟合同'">
                    <span style="color: #F54545;margin-left: 40px;font-size: .8rem;">合同类型说明：处室根据需要，格式自拟的合同。</span>
                </div>
                <div v-show="formData.contractType === '政采云合同'">
                    <span style="color: #F54545;margin-left: 40px;font-size: .8rem;">合同类型说明：经法规处合法性审查，列入委常用合同模板的合同。</span>
                </div>
                <div v-show="formData.contractType === '制式合同'">
                    <span style="color: #F54545;margin-left: 40px;font-size: .8rem;">合同类型说明：通过政采云系统自动生成的定点服务合同和协议供货合同。</span>
                </div>
                      
                    </van-form>	 
                 </template>  
            </div>				
		</div>
		<script>
			var docInfor = toArr(App.LS.get("docInfor"));
			let stateBusiness = toArr(App.LS.get("stateBusiness"));
           console.log("基本信息");
			var jbxx=new Vue({
			            el: '#jbxx',
			            data(){
			                return{
			                    formData:docInfor,
                                relDocList:toArr(docInfor.relDocList),
                                businessNo: toArr(App.LS.get("listInfo")).businessNo,
			                }
			            },
			            mounted:function(){
			                
						   
			            },
			            methods:{
                            getDetailHeight:function(){
                            	return ($("body").height()-44-54 + "px");
                            },
                            },
                            })
			
		</script>
		<style>
             .title{
              font-size: 1rem;
              text-align: center;
              color: #606061;
              padding: .8rem 0 .5rem 0;
              background: #fff;
            }
            /* .date{
                font-size: .8rem;
                text-align: right;
                padding-right: .5rem;
                padding-bottom: .8rem;
                background: #fff;
            } */
            dl:first-child {padding-top: .6rem;}
            dl{padding: .3rem 0;font-size: .9rem;}
            dt{border-bottom: #f1f0f0  solid 1px;background: #fff;}
            dd{/*padding: .3rem 0;  border-bottom: #f1f0f0  solid 1px;*/background: #fff;height: auto;  position: relative;color: #313131;white-space: normal !important;line-height: 1rem;    display: flex;    justify-content: space-between;}
            dd.chekBox,#basicInfor dd.checked{text-align: left;    padding-left: 0.1rem;    width: 96%;    height: auto;}
            dd>span,dt{color: #6C6B6B; display: block;    text-align: left;}
            dd.add{padding: 1rem;   font-size: 0.8rem;}
            dd.add>span{ color: rgb(28, 149, 255); }
            dd>.textcontent { width: 55%;text-align: right;}
            dd>textarea.editable{color:#C4CBD3}
            dd>.dlspan span { border-bottom: solid 1px #828080;  width: 1rem;  display: inline-block;    line-height: .24rem;}
		</style>
	</body>
</html>